
html,
body {
    height: 100%;
  }
#page-content {
    flex: 1 0 auto;
  }
  
  
#sticky-footer {
    flex-shrink: none;
  }
/* nav editan */

.nav-link {
	
	text-transform: uppercase;
    margin-right: 15px;
    
    
}

.nav-link:hover::after 
{
	content: '';
	display: block;
	border-bottom: 3px solid white;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;
}


/* arduino */
.arduinouno h1{
    margin-top:140px;
    padding-left: 60px;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    letter-spacing: -3px;
}
.arduinouno p{
    
    text-align: justify;
}

.unoinfo {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: 35px;
	padding: 25px;
	background-color:white;
	margin-bottom: 5px;	
}

.unoinfo img{
    width: 600px;
    height: 500px;
    
}

.arduino {
    margin-top: 5px;

}

.pagebackground {
    background-color:#D5D8DC;
}

.nav{
    background-color:#D5D8DC;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* target */
.capt {
    background-color:transparent; /* transparent */
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    
  }
.capt2 {
    background-color:transparent; /* transparent */
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
  }

.capt3 {
    background-color:transparent; /* transparent */
    border: none;
    color: black;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
  }
.capt4 {
    background-color:transparent; /* transparent */
    border: none;
    color: black;
    padding: 10px 140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
  }

  /* komponen */
.komp1 {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    font-size: 40px;
}
.komp2 {
    position: absolute;
    bottom: 160px;
    left: 80px;
    color: white;
    font-size: 40px;
}
.komp3 {
    position: absolute;
    top: 130px;
    left: 50px;
    color: white;
    font-size: 60px;
}
.komp4 {
    position: absolute;
    top: 45px;
    left: 60px;
    color: white;
    font-size: 40px;
}
.komp5 {
    position: absolute;
    top: 45px;
    left: 225px;
    color: white;
    
}
.komp6 {
    position: absolute;
    top: 45px;
    left: 250px;
    color: white;
    
}
.komp7 {
    position: absolute;
    top: 45px;
    right: 85px;
    color: white;
    
}
.komp8 {
    position: absolute;
    top: 110px;
    left: 170px;
    font-size: 30px;
    color: white;
    
}
.komp9 {
    position: absolute;
    top: 175px;
    left: 190px;
    font-size: 25px;
    color: white;
    
}
.komp10 {
    position: absolute;
    top: 250px;
    left: 175px;
    font-size: 25px;
    color: white;
    
}
.komp11 {
    position: absolute;
    bottom: 90px;
    left: 165px;
    font-size: 40px;
    color: white;
    
}
.komp12 {
    position: absolute;
    top: 132px;
    left: 285px;
    color: white;
    
}
.komp13 {
    position: absolute;
    top: 182px;
    left: 285px;
    color: white;
    
}
.komp14 {
    position: absolute;
    bottom: 147px;
    left: 285px;
    color: white;
    font-size: 40px;
}
.komp15 {
    position: absolute;
    bottom: 55px;
    left: 240px;
    color: white;
    
}
.komp16 {
    position: absolute;
    bottom: 55px;
    left: 265px;
    color: white;
    
}
.komp17 {
    position: absolute;
    bottom: 55px;
    left: 290px;
    color: white;
    
}
.komp18 {
    position: absolute;
    bottom: 55px;
    left: 315px;
    color: white;
    
}
.komp19 {
    position: absolute;
    bottom: 55px;
    left: 340px;
    color: white;
    
}
.komp20 {
    position: absolute;
    bottom: 55px;
    left: 365px;
    color: white;
    
}
.komp21 {
    position: absolute;
    bottom: 55px;
    right: 82px;
    color: white;
    
}
.komp22 {
    position: absolute;
    top: 160px;
    right: 135px;
    color: white;
    
}
.komp23 {
    position: absolute;
    top: 160px;
    right: 70px;
    color: white;
    font-size: 38px;    
}
