/* nav editan */
.nav-link {
	
	text-transform: uppercase;
	margin-right: 15px;
}

.nav-link:hover::after 
{
	content: '';
	display: block;
	border-bottom: 3px solid  blue;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;

}


/* arduino */
.unoinfo {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	margin-top: 40px;
	padding: 25px;
	background-color: white;
	margin-bottom: 5px;	
}

.unoinfo img{
    width: 600px;
    height: 500px;
    
}

.arduino {
    margin-top: 5px;

}

.pagebackground {
    background-color:#D5D8DC;
}

.nav{
    background-color:#D5D8DC;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /* target */
.capt {
    background-color:gray; /* transparent */
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    
  }
  .capt2 {
    background-color:gray; /* transparent */
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
  }

  .capt3 {
    background-color:gray; /* transparent */
    border: none;
    color: black;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
  }

  /* komponen */
.komp1 {
    position: absolute;
    bottom: 70px;
    left: 40px;
    color: white;
    font-size: 40px;
}
.komp2 {
    position: absolute;
    bottom: 160px;
    left: 80px;
    color: white;
    font-size: 40px;
}
.komp3 {
    position: absolute;
    top: 130px;
    left: 50px;
    color: white;
    font-size: 60px;
}
.komp4 {
    position: absolute;
    top: 45px;
    left: 60px;
    color: white;
    font-size: 40px;
}
.komp5 {
    position: absolute;
    top: 45px;
    left: 225px;
    color: white;
    
}
.komp6 {
    position: absolute;
    top: 45px;
    left: 250px;
    color: white;
    
}
.komp7 {
    position: absolute;
    top: 45px;
    right: 85px;
    color: white;
    
}